extends ../layouts/auth

block content
  h2.mb-5
    i.bi.bi-box-arrow-in-right.me-2
    span เข้าสู่ระบบ
  form(action="/auth/login" method="post")
    .form-floating.mb-4
      input.form-control.form-control-sm(type="email" id="inputEmail" name="email" placeholder="กรุณาอีเมล..." required)
      label(for="inputEmail")
        i.bi.bi-envelope
        span.ms-1 อีเมล:
    .form-floating.mb-4
      input.form-control.form-control-sm(type="password" id="inputPassword" name="password" placeholder="กรุณารหัสผ่าน..." required)
      label(for="inputPassword")
        i.bi.bi-key
        span.ms-1 รหัสผ่าน:
    .row.mb-4
      .col
        a.float-start.text-primary(href="/auth/register") สมัครสมาชิก
      .col
        a.float-end.text-primary-emphasis(href="/auth/forgotpassword") ลืมรหัสผ่าน?
    .d-grid.gap-2.mx-auto
      button.btn.btn-md.btn-secondary เข้าสู่ระบบ
    .separator.text-secondary Or
    .d-grid.gap-2.mx-auto
      a.btn.btn-primary(href="" style="background-color: #3b5998; --bs-btn-border-color: #3b5998;")
        i.bi.bi-facebook.me-2
        span เข้าสู่ระบบด้วย Facebook
      a.btn.btn-danger(href="" style="background-color: #dd4b39;  --bs-btn-border-color: #dd4b39; --bs-btn-hover-bg: #dd4b39;")
        i.bi.bi-google.me-2
        span เข้าสู่ระบบด้วย Google
