extends ../_layouts/feed

block content
  .row.justify-content-center
        .col-12.col-md-6
          h1.text-center TODO LIST
          .card.bg-light
            .card-body

              form.text-center(action="/todos", method="post")
                input.form-control(type="text" name="text" placeholder="ระบุรายการ..." required)
                button.btn.btn-primary.mt-3 เพิ่มรายการ
